#workspaces {
	padding: 0px 5px;
}

#workspaces button label {
	padding: 0px;
	margin-right: 5px;
}

#workspaces button:hover label {
	color: @focus-color;
	text-shadow: 0px 0px 3px @accent-shadow;
}
#workspaces button:hover {
	background: transparent;
	box-shadow: inherit;
}

#workspaces button.active label {
	color : @focus-color;
	text-shadow :  0px 0px 3px @accent-shadow;
}
