@import url("./colors.css");

/* Global configuration */
* {
	border: none;
	font-size: 14px;
	font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
	color : @text-color;
	text-shadow :  none;
	transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
	background: transparent;
}

*:hover {
	color: @focus-color;
	text-shadow :  0px 0px 3px @accent-shadow;
}

/* Module groups (left | center | right) */
.modules-right {
	background: @back-color;
	margin: 5px 0px 3px 0px;
	padding: 0px 5px 0px 5px;
	border-radius: 20px 0px 0px 20px;
}

.modules-center {
	background: @back-color;
	margin: 5px 0px 3px 0px;
	padding: 0px;
	border-radius: 20px 20px 20px 20px;
}

.modules-left {
	background: @back-color;
	margin: 5px 0px 3px 0px;
	padding: 0px 5px 0px 5px;
	border-radius: 0px 20px 20px 0px;
}

/* Modules (from left to right) */
#custom-logo {
	font-size: 18px;
	color: @accent-color;
	text-shadow :  0px 0px 3px @accent-shadow;
	padding: 0px 10px 0px 5px;
}

#clock {
	padding: 0px 5px;
	color: @focus-color;
}

#custom-divider {
	margin: 0px -15px 0px 0px;
}

#disk {
	padding: 0px 5px 0px 25px;
}

#disk.home {
	padding: 0px 15px;
}

#memory, #cpu, #temperature {
	padding: 0px 5px;
}

@import url("./workspaces.css");

#tray {
	padding: 0px 5px 0px 5px;
}

#backlight {
	padding: 0px 15px 0px 5px;
}

#pulseaudio {
	padding: 0px 10px 0px 5px;
}

#network {
	padding: 0px 5px;
}

@import url("./battery.css");

/* SLIDERS */
#backlight-slider slider,
#pulseaudio-slider slider {
	opacity: 0;
	background-image: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-height: 6px;
	min-width: 60px;
	margin-right: -10px;
	border-radius: 5px;
	background-color: @text-color;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-width: 0px;
	background-color: @accent-color;
	margin: 0px;
	box-shadow: 0px 0px 3px @accent-shadow;
}


/* WARNING COLORS */
#network.disconnected,
#temperature.critical,
#pulseaudio.muted {
	color: @critic-color;
	text-shadow: none;
}

#network.disconnected:hover,
#temperature.critical:hover,
#pulseaudio.muted:hover {
	text-shadow: 0px 0px 2px @critic-shadow;
}


