#custom-vpn {
	padding: 0px 5px;
	color: @text-color;
	text-shadow: none;
}

#custom-vpn:hover {
	color: @focus-color;
	text-shadow :  0px 0px 3px @accent-shadow;
}

#custom-vpn.down {
	color: @critic-color;
	text-shadow: 0px 0px 3px @critic-shadow;
}
